<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aptitude Questions</title>
</head>

<body>
    <form action="next_question" method="POST">
        <h1>Question 1</h1>
        <ul>

                <%= ques.question_heading %>
                    <li>
                        <%= ques.question_type %>
                    </li>
                    <li>
                        <%= ques.option_1 %>
                    </li>
                    <input name="prev_question" id="prev_question" type="text" value="<%= ques.current_Question_Number %>" hidden/>
                    
                   
        </ul>
        <button class="submit-btn" type="submit" name="next_question">Next-Question</button>
    </form>

</body>

</html>